.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    margin-top: 100px
  }

  .user-form {
    width: 300px;
    background-color: var(--primary-color);
    color: var(--font-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px var(--secondary-color);
  }
  
  .user-form button {
    background-color: var(--secondary-color);
    width: 100%;
  }
  
  .user-form input {
    background-color:  var(--secondary-color);
    color: var(--font-color);
    transition: 0.5s;
  }

  .user-form input:focus {
    background-color:  var(--secondary-color);
    color: var(--font-color);
    border: 2px solid var(--font-color);
  }
  
  .user-form input:hover {
    transform: translateX(4px);
  }
  
  .user-form h1 {
    text-align: center;
  }

  .valid {
    color: green; 
  }
  
  .invalid {
    color: red; 
  }